# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Environments
.env
.venv
*.env
*.venv

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db
